# ==============================
#   第一部分：Linux / 网关端规则
# ==============================
# 忽略学习笔记和文档
Note/
*.md

# 忽略相机实验代码 (如果你暂时不想上传)
V4L2_Camera/

# 忽略 Linux 编译生成的垃圾文件
*.o
*.out
main
iot_gateway

# 忽略系统隐藏文件 (比如 .vscode 配置)
.*

# ==============================
#   第二部分：STM32 / Windows端规则
# ==============================
# Keil 编译产生的垃圾文件
*.o
*.d
*.crf
*.dep
*.axf
*.htm
*.lnp
*.sct
*.lst
*.map
*.iex
*.uvoptx
*.uvguix.*
JLinkLog.txt
*.bak
*.uvgui.*

# Keil 生成的临时文件夹
Listings/
Objects/
MDK-ARM/RTE/
DebugConfig/

# ==============================
#   第三部分：白名单 (绝对不忽略的文件)
# ==============================
# 即使上面忽略了 .* 和 *.md，我们要强制保留这两个重要文件：
!.gitignore
!README.md